body {
    margin: 0;
    /* box-sizing: border-box; */
    background: #111827;
}

#container{
    display: block;
    margin: 60px auto;
    width: 550px;
    height: 740px;

    background: #1F2937;
}

#main{
    display: block;
    width: 550px;
    height: 285px;
    
    margin: 45px auto;
    background: #6943FF;
    justify-content: center;
}

#conv-head{
    /* Heading */
    display: flex;
    justify-content: center;
    padding-top: 35px;
    font-family: 'Monaco';
    font-style: normal;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height, or 136% */
    letter-spacing: -0.03em;

    color: #FFFFFF;
}

#input-space{
    display: block;
    justify-content: center;
    margin: 0px auto;
    width: 117px;
    height: 83px;

    border: 2px solid #B295FF;
    border-radius: 5px;
    background: #6943FF;
    

    font-family: 'Monaco';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;

    text-align: center;

    color: #FFFFFF;

}

#convert{
    display:block;
    margin:20px auto;
    width: 117px;
    height: 42px;
    background: #FFFFFF;
    
    border: 0px;
    border-radius: 5px; 
    
    /* text */
    padding: 9px 27.5px;
    justify-content: center;
    font-family: 'Monaco';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;

    color: #3D3D3D;

}

.cards{
    display:block;
    /* Grid Lists/Card */
    margin: 25px auto;
    padding: 31px auto 15.87px auto;
    width: 500px;
    height: 108.57px;
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
}

h2{
    /* Supporting text */
    
    display: block;
    /* justify-content: center; */
    padding-top: 20px;
    margin: 10px auto;
    
    width: 346px;
    height: 25px;

    font-family: 'Monaco';
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */

    text-align: center;

    color: #CCC1FF;

}

h4{
    display: block;
    margin: 0px auto;
    height: 25px;
    width: 450px;

    /* text-sm/leading-5/font-normal */

    font-family: 'Monaco';
    font-style: Bold;
    /* font-weight: 00; */
    font-size: 12px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #FFFFFF;

}