
@font-face{font-family:'Montserrat';src:url("fonts/Montserrat-Black.eot");src:local("☺"),url("fonts/Montserrat-Black.woff") format("woff"),url("fonts/Montserrat-Black.ttf") format("truetype"),url("fonts/Montserrat-Black.svg") format("svg");font-weight:900;font-style:normal}

@font-face{font-family:'Montserrat';src:url("fonts/Montserrat-Bold.eot");src:local("☺"),url("fonts/Montserrat-Bold.woff") format("woff"),url("fonts/Montserrat-Bold.ttf") format("truetype"),url("fonts/Montserrat-Bold.svg") format("svg");font-weight:700;font-style:normal}

@font-face{font-family:'Montserrat';src:url("fonts/Montserrat-Regular.eot");src:local("☺"),url("fonts/Montserrat-Regular.woff") format("woff"),url("fonts/Montserrat-Regular.ttf") format("truetype"),url("fonts/Montserrat-Regular.svg") format("svg");font-weight:400;font-style:normal}

@font-face{font-family:'Montserrat';src:url("fonts/Montserrat-Light.eot");src:local("☺"),url("fonts/Montserrat-Light.woff") format("woff"),url("fonts/Montserrat-Light.ttf") format("truetype"),url("fonts/Montserrat-Light.svg") format("svg");font-weight:300;font-style:normal}

@font-face{font-family: 'JetBrainsMono'; src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype'); font-weight: 400; font-style: normal;
}

html{font-family:sans-serif}
body{margin: 0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
[hidden],template{display:none}
body{
  background-color:black;
  font-size:14px;
  line-height:1.6;
  font-family:"Montserrat",sans-serif;
  color:#fff;
  overflow: hidden;
}


.container{
  position:relative;
  /* transform:translateZ(0) translateX(0) rotateY(0deg); */
  min-height:100%;
  outline:30px solid #0f33ff;
  /* transition:transform .4s; */
  /* -webkit-transform:translateZ(0) translateX(0) rotateY(0deg);
  transform:translateZ(0) translateX(0) rotateY(0deg);min-height:100%;outline:30px solid #0f33ff;-webkit-transition:-webkit-transform .4s;transition:-webkit-transform .4s;transition:transform .4s;transition:transform .4s, -webkit-transform .4s */
}

.perspective{
  position:relative;
  width:100%;
  height:100%;
  overflow:visible;
  z-index:1;
}
.perspective--modalview{position:fixed;perspective:1500px}

.effect-rotate-left .container{
  -webkit-transform-origin:0% 50%;-webkit-transition:-webkit-transform .4s;transition:-webkit-transform .4s;transition:transform .4s, -webkit-transform .4s;
  transform-origin:0% 50%;
  /* for older versions use webkit transform */
  transition: transform .4s;
}

.effect-rotate-left--animate .container{
  -webkit-transform:translateZ(-500px) rotateX(90deg) translateY(-5%);
  transform:translateZ(-500px) rotateX(90deg) translateY(-5%) ;
  outline:30px solid #0f33ff
}

.text{display:flex; color:white; z-index:10; background-color: blue; top: 0%;}


.outer-view--return{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  cursor:pointer;
  z-index:11
}

.outer-view--return.is-vis{
  display:block
}


.l-viewport{
  position:relative;
  width:100%;
  height:100vh;
  box-shadow:0 0 45px 5px rgba(0,0,0,0.85);
  overflow:hidden
}

.l-wrapper{
  position:relative;
  width:90vw;
  max-width:90%;
  height:100%;
  margin:0 auto
}

.header{
  /* display: block; */
  position:absolute;
  display: flex;
  /* top:0;
  left:0; */
  display:flex;
  margin-top: 8px;
  width:100%;
  height:70px;
  align-items:center;
  justify-content:space-between;
  z-index:10;
}

.logo--img{
  margin-left: 1vw;
  height:45px;
  width:65px;
}

.header-name{
  align-items:center;
  text-decoration:none;
  background-image: url(https://media4.giphy.com/media/njZPp4pQ0g4fe/giphy.gif?cid=ecf05e47yl7j5ihk27s6hlprytgjw3q8atxia5ma5ommcjpx&rid=giphy.gif&ct=g);
	background-size: -50% auto;
  background-position: center;
	color: transparent;
  background-clip: text;
	text-transform: uppercase;
	font-size: 28px;
}

.project-search-logo{ margin-right:1vw; height: 40px; width: 40px; cursor: pointer;}


/* .header--logo p{
  margin:0 0 0 34vw;
  font-size:20px;
  font-weight:700;
  text-transform:uppercase;
} */



.header--nav-toggle{
  display:flex;
  width:50px;
  height:50px;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  cursor:pointer}

.header--nav-toggle span,.header--nav-toggle::before,.header--nav-toggle::after{
  content:'';
  position:relative;
  width:20px;
  height:5px;
  background-color:#fff;
  border-radius: 50px;
}

.header--nav-toggle::before{
  bottom:5px;
  width:27px
}

.header--nav-toggle::after{
  top:5px;
  width:23px
}
.l-side-nav{position:absolute;left:0;display:flex;height:100%;align-items:center;margin-top:5vh;}
.l-side-nav::before{content:"";position:absolute;top:50%;left:0;transform:translateY(-50%);width:2px;height:70%;max-height:750px;background-color:#555;opacity:.35;z-index:10}
.l-main-content{position:relative;width:100%;height:100%;margin:0;padding:0;list-style:none}

.side-nav{
  position:relative;
  display:flex;
  width:100px;
  height:70%;
  max-height:750px;
  flex-direction:column;
  justify-content:space-around;
  margin:0;
  padding:0;
  list-style-position:inside;
  z-index:10
}

.side-nav>li{
  position:relative;
  top:-5px;
  color:#fff;
  font-size:6px;
  cursor:pointer
}

.side-nav>li span{
  position:relative;
  top:3px;
  left:10px;
  color:#fff;
  font-size:14px;
  font-weight:300;
  opacity:0;
  visibility: hidden;
}


.side-nav>li::before{
  position:absolute;
  top:3px;
  left:10px;
  color:#555;
  font-size:14px;
  font-weight:300
}

.side-nav li:nth-child(1)::before{content:"01"}
.side-nav li:nth-child(2)::before{content:"02"}
.side-nav li:nth-child(3)::before{content:"03"}
.side-nav li:nth-child(4)::before{content:"04"}
.side-nav li:nth-child(5)::before{content:"05"}
.side-nav li:nth-child(6)::before{content:"06"}

 
.side-nav li.is-active{
  color:#0f33ff;
  transition:color .4s ease-in-out;
}

.side-nav li.is-active span{
  opacity:1;
  visibility:visible;
  transition:opacity .4s ease-in-out
}

.side-nav li.is-active::before{
  left:-33px;
  color:#fff
}

.l-section{
  position:absolute;
  width:100%;
  height:100%
}

.section{
  opacity:0;
  visibility:hidden;
  transition:opacity .4s ease-in-out, visibility 0s .4s;
}

.section--is-active{
  opacity:1;
  visibility:visible;
  z-index:1;
  transition:opacity .4s ease-in-out .4s;
}

.intro{
  position:relative;
  display:flex;
  width:900px;
  max-width:75%;
  height:100%;
  flex-direction:column;
  justify-content:center;
  margin:0 auto
}

.intro--banner{position:relative;height:475px}
.intro--banner::before{content:"";position:absolute;bottom:20px;left:-15px;right:0;height:2px;background-color:#282828}
.intro--banner::after{content:"";position:absolute;bottom:18px;left:0;width:30px;height:4px;background-color:#0f33ff}
.intro--banner h1{position:relative;font-size:68px;font-weight:900;line-height:1;z-index:1}
.intro--banner button{position:relative;padding:5px 17px 5px 12px;font-weight:700;text-transform:uppercase;background-color:transparent;border:none}
.intro--banner button .btn-background{position:absolute;top:0;left:23px;right:0;height:100%;background-color:#0f33ff;z-index:-1;transition:left .2s ease-in-out}
.intro--banner button:hover .btn-background{left:0}
.intro--banner button:focus{outline:none}
.intro--banner button svg{position:relative;left:5px;width:15px;fill:#fff}
.intro--banner img{position:absolute;bottom:21px;right:-12px}
.intro--options{display:flex;justify-content:space-between;margin:0;padding:0;list-style:none}
.intro--options>a{max-width:250px;text-decoration:none;color:#282828;transition:color .2s ease-in-out}
.intro--options>a:hover{color:#fff}
.intro--options h3{font-size:16px;text-transform:uppercase}
.intro--options p{margin-bottom:0}

/* canvas{background: white;} */
.about{position:relative;display:flex;max-width:90%;height:100%;flex-direction:column;justify-content:center;margin:5vh auto 0 15vw}
.pixelate, .canva-cont canvas {display:block;max-width: 65vw;max-height: 65vh; justify-content: center;align-items: center;box-shadow:-50px -50px 10px -40px white,50px 50px 10px -40px #0f33ff;}
.hide {opacity:0;}
.show {opacity:1;}
.canva-cont {position:relative;}
.canva-cont canvas {position:absolute;top:0;left:0;}
#about-typewrite{
  /* position:; */
  top:20vh;
  left:35vw;
  width:35vw;
}
#about-wrap{
  text-align: justify;
  font-size: 0.8em;
}
/* .fadeout {
  opacity: 0;
  transition: opacity 0.2s;
} */

/* h6 {
font-family: Menlo, monospace;
padding: 0.2em;
margin-top: 1em;
margin-bottom: 0.5em;
} */

.education{position:relative;display:flex;width:960px;max-width:80%;height:100%;flex-direction:column;justify-content:center;margin:0 auto}
.education h2{margin:0 0 20px 0;font-size:30px;text-align:center}
.education--lockup{position:relative;display:flex;}
.education--lockup .slider{position:relative;display:flex;width:80%;margin:0 auto;padding:0;list-style:none}
.education--lockup .slider--item{position:absolute;display:none;text-align:center}
.education--lockup .slider--item a{text-decoration:none;color:#858585}
.education--lockup .slider--item-school{margin-top:10px;font-size:12px;font-weight:700;text-transform:uppercase}
.education--lockup .slider--item-duration{display:none;max-width:250px;margin:0 auto}
.education--lockup .slider--item-program{display:none;max-width:250px;margin:0 auto}
.education--lockup .slider--item-image{position:relative;display:flex;justify-content:center;align-items:center; width:150px;height:150px;margin:0 auto;border-radius:50%;overflow:hidden;outline:2px solid #0f33ff;}
.education--lockup .slider--item-image img{width:100%; height:100%; }
#dcs{object-fit: cover; width: 150px; height: 150px;}
#gtu{width: 125px; height: 140px;}
.education--lockup .slider--item-left{top:50%;left:0;transform:translateY(-50%);display:block}
.education--lockup .slider--item-right{top:50%;right:0;transform:translateY(-50%);display:block}
.education--lockup .slider--item-center{position:relative;top:30px;left:50%;transform:translateX(-50%);display:block}
.education--lockup .slider--item-center a{color:#fff}
.education--lockup .slider--item-center .slider--item-school{margin-top:25px;font-size:20px}
.education--lockup .slider--item-center .slider--item-duration{display:block}
.education--lockup .slider--item-center .slider--item-program{display:block;font-size:16px}
.education--lockup .slider--item-center .slider--item-image{display:flex;justify-content:center;align-items: center; width:300px;height:300px}
.education--lockup .slider--item-center .slider--item-image #dcs{object-fit: cover; width: 300px; height: 300px;}
.education--lockup .slider--item-center .slider--item-image #gtu{width:235px; height:250px}
.education--lockup .slider--next,.education--lockup .slider--prev{position:absolute;top:160px;display:flex;width:50px;height:50px;align-items:center;justify-content:center;background-color:#282828;border-radius:50%;cursor:pointer}
.education--lockup .slider--next svg,.education--lockup .slider--prev svg{width:20px;fill:#fff}
.education--lockup .slider--next{right:0}
.education--lockup .slider--prev{left:0}

.edOverlay{position: fixed;top: 80px;right:10px;height: 89%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50%;
  overflow: hidden;
  outline:1px solid #0f33ff;
  border-radius:10px 50px;;
}
.edInfo{
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-color:rgba(0,0,0,0.6);

}
.edDetails{
  margin:8% 5% 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  animation: delay 1.2s ease-out;
}

@keyframes delay {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.closeEd{
  display: flex;
  margin:60px auto;
  font-family: 'JetBrainsMono';
  font-size: 35px;
  color:red;
  background-color: transparent;
  border-color: transparent;
  border-radius: 10px;
  outline:5px solid #0f33ff
}


.work{position:relative;display:flex;max-width:100%;height:100%;flex-direction:column;margin:0 ;align-items: center;}
.work--banner{position:absolute;
  display: block;
  margin: 20vh auto;
  /* justify-content:center;
  align-items: center; */
}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  display: block;
  /* justify-content:center ; */
  top:30vh;
  width: 1000px;
  margin: 30vh auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
  overflow: hidden;
  /* white-space: nowrap; */
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
  height: 15vh;
}

.timeline li:after {
  content: "";
  display: block;
  /* height: 0; */
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 470px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 470px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.desc {
  position: relative;
  background: rgb(248,248,248);
  margin-top: 5px;
  padding: 6px 10px;
  border-radius: 5px;
  color:black;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  opacity:0;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  color:black;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}

.direction-l .flag {
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #0f33ff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: #0f33ff;
  font-size: 12px;
}

.desg{
  margin: 1em 0.75em 0 0;
  font-size: 0.97777em;
  font-style: italic;
  line-height: 1.5em;
}


/* .direction-r .desc {
  margin: 1em 0 0 0.75em;
} */

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}
/* 
.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
} */
/* 
.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
} */

}

.contact{position:relative;top:20px;left:0;width:105%;height:100%;background-image:url(https://earthobservatory.nasa.gov/ContentFeature/NightLights/images/media/BlackMarble_2016_Americas_composite.png);background-position:top;background-size:200%;background-repeat:no-repeat;}
.contact--lockup{position:relative;display:flex;width:75vw;max-width:75%;height:100%;align-items:center;justify-content:flex-end;margin:0 auto;}
/* .contact--lockup .modal{padding:0px 0px;text-align:center;background-color:#0c0c0c;box-shadow:0 0 30px 0 rgba(0,0,0,0.75)} */
/* .contact--lockup .modal--information p,.contact--lockup .modal--information a{display:block;margin:14px 0;text-decoration:none;color:#fff;font-weight:700}
.contact--lockup .modal--information p{margin-top:0}
.contact--lockup .modal--options{margin:0;padding:0;list-style:none}
.contact--lockup .modal--options>li{width:130px;margin:0 auto 25px auto} */
/* .contact--lockup .modal--options li:nth-child(1){background-color:#1769ff}
.contact--lockup .modal--options li:nth-child(2){background-color:#ea4c89}
.contact--lockup .modal--options li:nth-child(3){margin-bottom:0;background-color:#0f33ff;text-transform:uppercase} */
/* .contact--lockup .modal--options a{display:block;width:100%;padding:8px 0;text-decoration:none;color:#fff;font-weight:700} */

.hire{position:relative;display:flex;width:700px;max-width:75%;height:100%;flex-direction:column;justify-content:center;margin:0 auto}
.hire h2{margin:0 0 20px 0;font-size:30px;text-align:center}
.work-request{display:flex;width:100%;flex-direction:column;align-items:center;color:#fff}
.work-request input[type="submit"]{width:400px;max-width:100%;line-height:50px;font-size:16px;font-weight:700;text-transform:uppercase;background-color:#0f33ff;border:none;border-radius:0}
.work-request input[type="submit"]:focus{outline:none}
.work-request--options{display:flex;width:100%;flex-direction:column;align-items:center;margin:30px 0}
.work-request--options .options-a{display:flex;width:100%;justify-content:space-between}
.work-request--options .options-b{display:flex;width:72%;flex-wrap:wrap;justify-content:space-around}
.work-request--options label{display:block;width:200px;margin-bottom:30px;line-height:50px;font-size:16px;font-weight:700;text-align:center;border:2px solid #fff;cursor:pointer;transition:background-color .2s ease-in-out,border-color .2s ease-in-out}
.work-request--options label svg{position:relative;left:-5px;width:0;fill:#fff;transition:width .2s ease-in-out}
.work-request--options input[type="checkbox"]{display:none}
.work-request--options input[type="checkbox"]:checked+label{background-color:#0f33ff;border-color:#0f33ff}
.work-request--options input[type="checkbox"]:checked+label svg{width:15px}
.work-request--information{display:flex;width:100%;justify-content:space-between;margin-bottom:60px}
.work-request--information .information-name,.work-request--information .information-email{position:relative;width:45%;height:50px;font-size:30px;font-weight:300}
.work-request--information input[type="text"],.work-request--information input[type="email"]{width:100%;padding:0 0 5px 0;background-color:transparent;border:none;border-bottom:1px solid #fff;border-radius:0}
.work-request--information input[type="text"]:focus,.work-request--information input[type="email"]:focus{outline:none;background-color:#0c0c0c}
.work-request--information label{position:absolute;top:0;left:0;pointer-events:none;transition:top .2s ease-in-out,font-size .2s ease-in-out}
.work-request--information input:focus+label,.work-request--information input.has-value+label{top:-15px;font-size:14px}


.intro--name{
  background-clip: smoke;
}


@import url('https://fonts.googleapis.com/css?family=Cairo');
/* body {
	background-color: #010;
} */

.title {
	font-family: "Cairo";
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 75vh;
	letter-spacing: 1px;
	line-height:1
}
/* Styles for iPhone 13 Pro */
#hello{
  color: white;
  font-size: 25px;
}

.name {
  background-image: url(https://media4.giphy.com/media/njZPp4pQ0g4fe/giphy.gif?cid=ecf05e47yl7j5ihk27s6hlprytgjw3q8atxia5ma5ommcjpx&rid=giphy.gif&ct=g);
	background-size: -50% auto;
  background-position: center;
	color: transparent;
  background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	margin: 10px 0;
  
}

.typewrite{
  position: absolute;
  top:55vh;
  left:50vw;
  text-align: center;
  display: flex;
	flex-direction: column;
  /* margin-top:10vh; */
	align-items: center;
	justify-content: center;

}
@media only screen 
  and (device-width: 390px) 
  and (device-height: 844px) 
  and (-webkit-device--ratio: 3) {
    /* styles for the component on iPhone 13 Pro */
    .typewrite{
      top:70vh;
      left:0vw;
    }
    .wrap{
      font-family: "JetBrainsMono";
      font-style: normal;
      font-size: medium;
    }
}
.wrap{
  font-family: "JetBrainsMono";
  color: #0f33ff
}


.skills{position:relative;top:0;left:5vw;width:100%;height:100%;}

.tab, #tab4, #tab3, #tab2, #tab1, #tab0 {
  top: 12vh;
  left:0;
  height: 82.5vh;
  position: absolute;
  box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  /* overflow-x: hidden; */
}

.tab:hover ~ div, #tab4:hover ~ div, #tab3:hover ~ div, #tab1:hover ~ div{
  background-color: black;
  transform: translateX(-72vw) ;
}
#tab2:hover ~ div{
  background-color: black;
  transform: translateX(-70vw) ;
}
/* 
.tab:hover ~ div:after, #tab4:hover ~ div:after, #tab3:hover ~ div:after, #tab2:hover ~ div:after, #tab1:hover ~ div:after {

  opacity: 1;

} */

#tab0 {
  width: 95vw;
  background: black;
}

#tab1 {
  width: 85vw;
  background: #101010; 
  border-radius:10px 50px 50px 10px;
  overflow: hidden;
  /* outline: 2px  #0f33ff; */
}
#tab1::after {
  content: "LEARNING";
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: absolute;
  width: 5vw;
  height: 25vh;
  background: #0f88ff;
  border-radius: 0 20px 20px 0;
  top: 69.725%;
  right: -2vw;
  font-size: 16px;
  padding-left: 5px;

  line-height: 2em;
}

#tab2 {
  width: 80vw;
  background: #151515;
  border-radius:10px 50px 50px 10px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  cursor:grab;
}
#tab2:active{
  cursor:grabbing
}

#tab2::after {
  content: "CERTIFICATES";
  position: absolute;
  width: 5vw;
  height: 30%;
  background: #0f55ff;
  border-radius: 0 20px 20px 0;
  text-align: center;
  padding-left: 5px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 12px;
  top: 35%;
  right: -2vw;
  line-height: 3em;
}

#tab3 {
  width: 75vw;
  background: #181818;
  border-radius:10px 50px 50px 10px;
  overflow: hidden;
  /* outline: 2px solid #0f33ff; */
}
#tab3::after {
  content: "TECH";
  position: absolute;
  width: 5vw;
  height: 25%;
  background: #0f33ff;
  box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.3);
  border-radius: 0 20px 0px 0;
  top: 0%;
  right: -2vw;
  text-align: center;
  writing-mode: vertical-lr;
  font-size: 20px;
  text-orientation: upright;
  padding-left: 5px;
  line-height: 2em;
}
.tech-stack > h1{
  display: flex;
  margin-top:5vh;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}
#tab2::-webkit-scrollbar {
  width: 0px;  /* Hide scrollbar width */
  height: 0px; /* Hide scrollbar height */
  background: transparent; /* Hide scrollbar background */
}

    /* Skills Section*/

.skills {
    /* background-color: #606060; */
    margin-left: auto;
    margin-right: auto;
    padding: 0px 60px;
    align-items: center;
}

.skills-dark {
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    padding: 0px 60px;
    align-items: center;
}

.skills > h3 {
    display: flex;
    justify-content: center;
    font-size:xx-large;
}

.skills-dark > h3 {
    margin: 0%;
    display: flex;
    justify-content: center;
    background-color:black;
    color: #FFFFFF;
    font-size:xx-large;

}

/* Skill Grid */
.skills--grid, .skills--grid-dark { 
    /* margin: 50px 250px; */
    padding:0 3vw 0;
    /* margin-bottom: 0%; */
    /* background-color:aqua; */
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(calc(100%/4), 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(max(30px, 100%/8), 1fr));
    grid-auto-rows: minmax(150px, auto);
    gap: 30px;
    justify-content: center;
}



.skills--grid--item {
    /* background-color: #000; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
}
/* 
.skills--row {
    background-color:#918E9B;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

/* SkillBar */

.circular-progress{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /* background: none; */
    animation: delayB 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes delayB {
  0% {opacity: 0;
  }
  /* 50% {opacity: 0;} */
  100% {opacity: 1;
  }
}

.circular-progress::before{
    content: "";
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: #181818;
    animation: delayB 0.1s ease-in-out;
}


.skills-dark .circular-progress::before{
    content: "";
    position: absolute;
    height: 118px;
    width: 118px;
    border-radius: 50%;
    background-color: black;
}

/* .progress-value{
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: #606060;
} */

.progress-value{
    position: relative;
    padding-right: 2px; 
    padding-top: 2px; 
    display:inline-block;
}

.skills-image {
    height: 60px;
    /* border-radius: 50%; */
}

.certificate{position:relative;display:flex;width:960px;max-width:80%;height:100%;flex-direction:column;justify-content:center;margin:0 auto}
.certificate h2{margin:0 0 0px 0;font-size:30px;text-align:center}
.certificate--lockup{position:relative;display:flex;}
.certificate--lockup .slider{position:relative;display:flex;width:80%;margin:0 auto;padding:0;list-style:none}
.certificate--lockup .slider--item{position:absolute;display:none;text-align:center}
.certificate--lockup .slider--item-image{position:relative;display:flex;justify-content:center;align-items:center; width:250px;height:250px;margin:0 auto;border-radius:10px;overflow:hidden;outline:2px solid #0f33ff;}
.certificate--lockup .slider--item-image img{width:100%; height:100%; }
.certificate--lockup .slider--item-center{position:relative;top:30px;left:50%;transform:translateX(-50%);display:block}
.certificate--lockup .slider--item-center a > h2{margin-top:5px; font-size:20px;}
.certificate--lockup .slider--item-center > a{color: white;}
.certificate--lockup .slider--item-center h2{margin-top:5px; font-size:20px;}
.certificate--lockup .slider--item-center > p{margin-top:5px; font-size: 16px;}
.certificate--lockup .slider--item-center .slider--item-image{display:flex;justify-content:center;align-items: center; width:40vw;height:50vh}
.certificate--lockup .slider--next,.certificate--lockup .slider--prev{position:absolute;top:25vh;display:flex;width:50px;height:50px;align-items:center;justify-content:center;background-color:#282828;border-radius:50%;cursor:pointer}
.certificate--lockup .slider--next svg,.certificate--lockup .slider--prev svg{width:20px;fill:#fff}
.certificate--lockup .slider--next{right:0}
.certificate--lockup .slider--prev{left:0}

.c-details{position:absolute;color:white;bottom: 15px;}
.c-details>h3{margin:-5px 0 -5px 0}
.learning>h1{text-align: center;margin-bottom: -2vh;}
.course>h2{margin-left:12vw;}
.course>ul{display:flex;margin-left: 9vw;list-style-type: none;}
.c-list{position:relative; margin: 10px; width: 20vw;height:20vh;border-radius:15px;padding:2px 20px 2px 20px; background-size:cover;background-position: center;}
.c-list>a{font-size:10px;}
.readings>h2{margin-left: 12vw;}
.readings>ul{display:flex;margin-left: 9vw;list-style-type: none;}
.r-list{position:relative; margin: 10px; width:9vw;height:28vh;border-radius:15px;padding:2px 20px 2px 20px; background-size:cover;background-position: center;}
/* #c-status{align-content: end;} */
/* .c-details */

.divider {
  height: 1px;
  margin-left: 3vw;
  /* margin-top: -15vh; */
  background: #000;
  background: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgb(50,50,50) 50%, rgb(255,255,255) 100%);
}
.divider.light {
  background: #fff;
  background: -webkit-linear-gradient(left, rgb(90,90,90) 0%, rgb(255,255,255) 50%, rgb(90,90,90) 100%);
}

.divider.light:before {
  position:relative;
  float:left;
  background: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";
}

.divider.light:after {
  position:relative;
  float:right;
  background: linear-gradient(to left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";
}

/* Presentation only */
.width80 {width:80%;margin:0px auto;padding-top:2%;}


.map-wrapper {
  position: absolute;
  /* top:10vh; */
  width: 110%;
  height: 100%;
  padding-bottom: 50%;
}

.map-container {
  /* margin:25vh 10vw 0 -2vw; */
  position: absolute;
  bottom:40vh;
  right: -5vw;
  border-radius: 10px;
  min-height: 35vh;
  /* max-height: 400px; */
  min-width:30vw;
  /* max-width:400px */

}
.socials{position:fixed; top:45vh; left:80vw;z-index:1}
#socials-menu {
  /* background: white; */
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  list-style: none;
  font-size: 200%;
}
.icon-minus ~ li{visibility: 0;}
.menu-button {
  opacity: 0;
  z-index: -1;
}

.menu-button {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  /* background: #424242; */
  /* background-size: 100%; */
  overflow: hidden;
  text-decoration: none;
}

#socials-menu:not(:target)>a:first-of-type,
#socials-menu:target>a:last-of-type {
  opacity: 1;
  z-index: 1;
  
}

#socials-menu:not(:target)>.icon-plus:before,
#socials-menu:target>.icon-minus:before {
  opacity: 1;
}

.menu-item {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 55%;
  line-height: 5px;
  top: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  background-color: #0f33ff;
  transform: translate(0px, 0px);
  transition: transform 500ms;
  z-index: 0;
  transition: .5s;
}

.menu-item:hover{
opacity: 0.5;
box-shadow: 0 5px 10px black; 
}


.menu-item a {
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;
  left: 0;
  text-decoration: none;
}

#socials-menu:target>.menu-item:nth-child(6) {
  transform: rotate(60deg) translateY(-150px) rotate(300deg);
  transition-delay: 0s;
}

#socials-menu:target>.menu-item:nth-child(5) {
  transform: rotate(20deg) translateY(-155px) rotate(-20deg);
  transition-delay: 0.1s;
}

#socials-menu:target>.menu-item:nth-child(3) {
  transform: rotate(-20deg) translateY(-155px) rotate(20deg);
  transition-delay: 0.2s;
}

#socials-menu:target>.menu-item:nth-child(4) {
  transform: rotate(-60deg) translateY(-150px) rotate(60deg);
  transition-delay: 0.3s;
}

/* #form-button{
  z-index: 1;
} */

/* form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

form.show {
  opacity: 1;
} */


.btn {
  color: white;
  font-family: JetBrainsMono;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}

.btn:hover {
  text-decoration: none;
}

.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn-4 span {
  z-index: 20;
}

.btn-4:after {
  background: white;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-4:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media(min-width: 600px) {
  .btn {
    margin: 0 1em 2em;
  }
}

#contact-form{
  position:absolute;
  top:20vh;
  left:0;
}

#resume{
  position:absolute;
  top:20vh;
  left:20rem;
}

.testing{
  width: 30rem;
	height: 28rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 5px;
	position: absolute;
  top:30vh;
  left:0.5vw;
	z-index: 1;
	background: inherit;
	overflow: hidden;
  padding:0 0 0 20px;
  opacity: 0; /* Set initial opacity to 0 */
  animation-name: fade-in;
  animation-duration: 0.5s; /* Set duration of animation */
  animation-fill-mode: forwards
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.testing:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .6);
	filter: blur(10px);
	margin: -40px;
}

.testing>form{
  padding: 10px 0 10px 0;
}

.testing>form>div>label{
  display:block;
  font-family: JetBrainsMono;
  font-size: 20px;
}
.testing>form>div>input, textarea{
  /* display:block; */
  font-family: JetBrainsMono;
  background: transparent;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .6);
  height: 20px;
  width:200px;
  padding: 5px 10px 5px 10px;
  border: None;
  font-size:20px
	/* filter: blur(1px); */
}
.testing>form>div>textarea{
  width:400px;
  height:150px;
  box-shadow: inset 100px 100px 150px rgba(255, 255, 255, .8);
  font-size: 18px;
  
  color:black;
}
.testing>form>button{
  border: none;
  width:150px;
  height:35px;
  background: #0f33ff;
  font-size: larger;
  font-family: JetBrainsMono;
  color:white;
  margin-top: 10px;
}

/* ########################################################################################################################################################################################## */

.outer-view{position:absolute;top:0%;left:0%;width: 100%; max-height:100vh,translateY(-150%);visibility:hidden;transition:visibility 0s .2s;}
.outer-view.is-vis{visibility:visible; overflow-y: scroll; max-height: 100vh;scrollbar-width: 0; -ms-overflow-style: none; }
/* transition:visibility 1s .5s; */
::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.close{
  position: relative;
  top:5vh;
  left:95vw;
  /* width:15px;
  height: 15px; */
  font-size: 30px;
  color:#0f33ff;
  border: none;
  outline: 2px solid white;
  border-radius: 10px;
  background: transparent;
}

.projects{
  position: relative;
  top:5vh;
  left:0vw;
  width:100%;
  height:100%;
}
.project-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(10px, 100%/3), 1fr));
  grid-auto-rows: minmax(75vh, auto);
  gap: auto 5px;
  justify-content: center;
}

.card{
  font-size: 12px;
  margin: 40px 5vw 40px;
  position: relative;
}

.card--image{
  display: flex;
  object-fit: contain;
  object-position: left;
  height: 30vh;
  width: 20vw;
  border-radius: 5px;
  margin-bottom: 9px;
}

#details{
  display: block;
  margin-left: 20px;
  font-family:'JetBrainsMono';
}
#details>a{color:white;}

#duration{
  width: 319px;
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;

  color: white;
}

#desc{
  width: 326px;
  height: 45px;
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 15px */
  color: white;
}

.searchBox {
  position: absolute;
  display: flex;
  bottom: 10vh;
  left: 50vw;
  transform:  translate(-50%,50%);
  background: #0f33ff;
  /* #2f3640 */
  height: 40px;
  color:white;
  border-radius: 40px;
  padding: 10px;
  /* z-index:1; */
}

.searchBox:hover > .searchInput {
  width: 800px;
  padding: 0 6px;
  color:white
}

.searchBox:hover > .searchButton {
background: white;
/* color:white; */
color : #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float:left;
  padding: 0;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-family: 'JetBrainsMono';
  color: white;
}

.searchInput::placeholder{
  color:white;
  opacity:0.7;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
      width: 150px;
      padding: 0 6px;
  }
  }
    
/* ************************************************************************* */
